body {
  background: #e5e7eb;
  font-family: Arial, sans-serif;
}

/* RESUME */
.resume {
  width: 800px;
  margin: 40px auto;
  background: white;
  padding: 40px;
  box-shadow: 0 0 12px rgba(0,0,0,0.2);
}

/* HEADER */
.header {
  display: flex;
  gap: 20px;
  align-items: center;
}

.profile {
  width: 110px;
  height: 110px;
  border-radius: 50%;
  object-fit: cover;
}

/* CONTACT */
.contact {
  font-size: 14px;
  color: #444;
}

/* HEADINGS */
h1 {
  margin: 0;
}

h2 {
  border-bottom: 2px solid black;
  padding-bottom: 5px;
  margin-top: 20px;
}

.section {
  margin-top: 10px;
}

.section span {
  font-size: 13px;
  color: gray;
}

ul {
  margin-top: 5px;
}
